<!doctype html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <title>Stencil Component Starter</title>
    <link rel="modulepreload" href="/static/build/p-769fc9c3.js">
    <link rel="modulepreload" href="/static/build/p-qrm83tnk.entry.js">
    <script nomodule="" src="/static/build/rover-component-library.js">
    </script>
</head>

<body>
    <my-component first="Stencil" last="'Don't call me a framework' JS"></my-component>
    <script type="module" data-resources-url="/static/build/" data-stencil-namespace="rover-component-library">import { p as m, b as p } from "/static/build/p-769fc9c3.js"; m().then(m => p([["p-qrm83tnk", [[1, "my-component", { first: [1], middle: [1], last: [1] }]]]], m));
    </script>
</body>

</html>
